@model AppGestionEMS.Models.AsignacionDocentes

@{
    ViewBag.Title = "Delete";
}

<br />
<br />
<br />

<h3>¿Estas seguro de que deseas borrarlo?</h3>
<div>
    <h4>Asignación Docentes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrupoClase.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoClase.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a docencia", "Index")
        </div>
    }
</div>
