@model AppGestionEMS.Models.AsignacionDocentes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asignación Docentes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrupoClase.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoClase.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a docencia", "Index")
</p>
